<?xml version="1.0" encoding="utf-8"?>
<launch>
      

      <node pkg="auto_navi" type= "webcam1.py" name= "webcam1" output="screen" />
      
      
      <node pkg="auto_navi" type= "webcam.py" name= "webcam" output="screen" launch-prefix= "gnome-terminal --command" />

      <node pkg="auto_navi" type= "timercal.py" name= "timercal" output="screen" launch-prefix= "gnome-terminal --command" />

</launch>

